<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymer-ts/polymer-ts.html">
<link rel="import" href="../../bower_components\paper-toolbar\paper-toolbar.html">
<link rel="import" href="../thread-view/thread-view.html">
<link rel="import" href="../chat-view/chat-view.html">


<dom-module id="message-view">
    <template>
        <style>
            :host {
                /* margin: auto;
                width: 80%;
                display: flex; */
            min-height: 70%;
            }

            paper-toolbar {
                --paper-toolbar-background: rgb(38, 180, 161);
                height: 4rem;
            }

            .container {
                display: flex;
            }
            .title{font-size: 2rem;}
        </style>
        <paper-toolbar>
            <span slot="top" class="title">[[selectedName]]</span>
        </paper-toolbar>
        <div class="container">
            <thread-view selected-name="{{selectedName}}" 
            contacts="[[contactsVM]]"></thread-view>
            <chat-view curr-messages="{{selectedContact.messages}}">
            </chat-view>
        </div>
    </template>
</dom-module>
